.App {
  text-align: center;
}

.navbar navbar-expand-lg navbar-light bg-light

html, body {
  width: 100%;
  height:100%;
}


#tableDiv{
    background: #cac6c1;
    padding: 15px;
    margin: 35px;
    border-radius: 10px;
}

#introDiv{
    background: #cac6c1;
    padding: 15px;
    margin: 35px;
    border-radius: 10px;
}

body {
    background: linear-gradient(-45deg, #3f5a94, #345f76, #0b0c4c, #01151F);
    background-size: 400% 400%;
    animation: gradient 50s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
